{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Bienvenido al blog</h1>
  </div>
</div>

<div class="container row">

  {% for post in object_list  %}
  <article class="col-12 col-md-4 col-lg-3">
    <article class="card">
      <img src="/media/{{post.imagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          {% if post.titulo %}
          {{ post.titulo }}
          {% else %}
          {{ post.pk }}
          {% endif %}</h5>
        <p class="card-text">
          {{ post.contenido|slice:"0:10" }}
        </p>
        <a href="{% url 'blog:detalle' post.pk%}">
          Visitar
        </a>
      </div>
      <div class="card-footer text-muted">
        Publicado: {{ post.fecha_publicacion }}
      </div>
    </article>
  </article>

  {% endfor %}
</div>

{% endblock content %}