{% extends "base.html" %}

{% block content %}

<a href="{% url 'blog:index' %}">Volver a la lista</a>
<div>
    {{ message }}
</div>
<br>
<form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <label>
        Autor
    </label>
    {{ request.user.username }}
    
    {{ post_form.as_p }}
    
    <button type="submit">Crear post</button>

</form>


{% endblock content %}